body {
  min-width: 300px;
  background-color: white;
  color: rgb(30, 30, 30,0.8);
  /* max-height: 300px; */
  /* border-radius: 10px; */
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}

.contests {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  /* width: 100%; */
}

.contest {
  width: 100%;
  background-color: #f4f4f4;
  margin: 0.5em 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  /* border: 1px solid white; */
}

.site {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
  align-items: center;
}

.contest_site {
  font-weight: 500;
  margin-bottom: 0.6em;
  font-size: larger;
  display: flex;
  gap: 1em;
}

.time{
  color: #707070;
}

.url {
  color: white;
  background-color: rgb(22, 172, 8);
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}

.url:hover{
  color: rgb(61, 99, 4);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: greenyellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
